h2 {
  margin-bottom: 15px;
}

.mapa {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 4px;
}

.lote {
  border: 1px solid #444;
  padding: 6px;
  text-align: center;
  cursor: pointer;
  background-color: #dff0ff;
}

.lote.lleno {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.6;
}


/* ESTADOS */
.libre {
  background-color: #b6fcb6;
}

.ocupado {
  background-color: #ffd966;
}

.lleno {
  background-color: #ff7b7b;
  cursor: not-allowed;
}

