.parcelas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.parcela {
  border: 1px solid #444;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f5f8ff;
  transition: transform 0.2s;
}

.parcela:hover {
  transform: scale(1.05);
  background-color: #e1eaff;
}
